In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("hard_mining.csv")
df

     location  bedrooms  age  floor  area  price
0   dhanmondi       1.0   10      2  1200  12000
1   dhanmondi       2.0   15      4  1400  11000
2   dhanmondi       2.0   21      8  1550  10000
3   dhanmondi       3.0   28      2  1680  13000
4   dhanmondi       3.0   15      6  1800  18000
5   dhanmondi       3.0   35      1  1950  25000
6   dhanmondi       4.0   32      5  2100  26000
7   dhanmondi       4.0   12      4  2300  28000
8   dhanmondi       NaN    8      8  2480  24000
9   dhanmondi       4.0   19      3  2550  30000
10  dhanmondi       NaN   30      4  2680  32000
11  dhanmondi       4.0   32      2  2900  36000
12  dhanmondi       NaN   12      1  3100  37000
13  dhanmondi       5.0   26      4  3300  42000
14  dhanmondi       5.0   15      6  3850  47000
15  dhanmondi       NaN   17      7  3900  43000
16  dhanmondi       5.0   13      9  4100  41000
17  dhanmondi       5.0    5     10  4200  49000
18  dhanmondi       NaN    7      3  4800  55000
19  dhanmondi       5.0    3      2  4900  65000
20     banani       1.0    5      4  1250  18000
21     banani       2.0    7      1  1500  25000
22     banani       2.0   12      5  1700  27000
23     banani       3.0   14      3  1900  31000
24     banani       3.0   18      6  2000  30000
25     banani       4.0   10      7  2200  29000
26     banani       4.0    5      9  2400  35000
27     banani       4.0    9      1  2800  42000
28     banani       NaN   19      2  2900  35000
29     banani       NaN    5      4  3200  45000
30     banani       5.0    8      5  3400  47000
31     banani       5.0   27      8  3600  39000
32     banani       NaN   32      1  3800  40000
33     banani       5.0    1      4  4000  66000
34     banani       NaN   15      6  4200  50000
35     banani       NaN    5      9  4400  45000
36     banani       5.0   14     10  4600  51000
37     banani       NaN   19     11  4800  49000
38     banani       5.0   15      1  5000  70000
39   zigatola       1.0   10      2  1300  10000
40   zigatola       1.0    2      1  1400  16000
41   zigatola       NaN    7      5  1600  14000
42   zigatola       2.0   25      3  1800  18000
43   zigatola       3.0   30      2  2000  22000
44   zigatola       NaN   35      8  2200  19000
45   zigatola       3.0   12      7  2380  28000
46   zigatola       3.0   19      6  2500  30000
47   zigatola       NaN   20      4  2850  35000
48   zigatola       4.0   17      3  3200  38000
49   zigatola       4.0   32      1  3400  40000
50   zigatola       NaN   15      3  3600  39000
51   zigatola       5.0    1      5  3750  49000
52   zigatola       NaN    6      1  3900  59000
53   zigatola       5.0    7      3  4000  61000
54   zigatola       5.0    9      2  4100  65000

In [3]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [4]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

     location  bedrooms  age  floor  area  price
0   dhanmondi       1.0   10      2  1200  12000
1   dhanmondi       2.0   15      4  1400  11000
2   dhanmondi       2.0   21      8  1550  10000
3   dhanmondi       3.0   28      2  1680  13000
4   dhanmondi       3.0   15      6  1800  18000
5   dhanmondi       3.0   35      1  1950  25000
6   dhanmondi       4.0   32      5  2100  26000
7   dhanmondi       4.0   12      4  2300  28000
8   dhanmondi       4.0    8      8  2480  24000
9   dhanmondi       4.0   19      3  2550  30000
10  dhanmondi       4.0   30      4  2680  32000
11  dhanmondi       4.0   32      2  2900  36000
12  dhanmondi       4.0   12      1  3100  37000
13  dhanmondi       5.0   26      4  3300  42000
14  dhanmondi       5.0   15      6  3850  47000
15  dhanmondi       4.0   17      7  3900  43000
16  dhanmondi       5.0   13      9  4100  41000
17  dhanmondi       5.0    5     10  4200  49000
18  dhanmondi       4.0    7      3  4800  55000
19  dhanmondi       5.0    3      2  4900  65000
20     banani       1.0    5      4  1250  18000
21     banani       2.0    7      1  1500  25000
22     banani       2.0   12      5  1700  27000
23     banani       3.0   14      3  1900  31000
24     banani       3.0   18      6  2000  30000
25     banani       4.0   10      7  2200  29000
26     banani       4.0    5      9  2400  35000
27     banani       4.0    9      1  2800  42000
28     banani       4.0   19      2  2900  35000
29     banani       4.0    5      4  3200  45000
30     banani       5.0    8      5  3400  47000
31     banani       5.0   27      8  3600  39000
32     banani       4.0   32      1  3800  40000
33     banani       5.0    1      4  4000  66000
34     banani       4.0   15      6  4200  50000
35     banani       4.0    5      9  4400  45000
36     banani       5.0   14     10  4600  51000
37     banani       4.0   19     11  4800  49000
38     banani       5.0   15      1  5000  70000
39   zigatola       1.0   10      2  1300  10000
40   zigatola       1.0    2      1  1400  16000
41   zigatola       4.0    7      5  1600  14000
42   zigatola       2.0   25      3  1800  18000
43   zigatola       3.0   30      2  2000  22000
44   zigatola       4.0   35      8  2200  19000
45   zigatola       3.0   12      7  2380  28000
46   zigatola       3.0   19      6  2500  30000
47   zigatola       4.0   20      4  2850  35000
48   zigatola       4.0   17      3  3200  38000
49   zigatola       4.0   32      1  3400  40000
50   zigatola       4.0   15      3  3600  39000
51   zigatola       5.0    1      5  3750  49000
52   zigatola       4.0    6      1  3900  59000
53   zigatola       5.0    7      3  4000  61000
54   zigatola       5.0    9      2  4100  65000

In [5]:
dummies = pd.get_dummies(df.location)
dummies

    banani  dhanmondi  zigatola
0        0          1         0
1        0          1         0
2        0          1         0
3        0          1         0
4        0          1         0
5        0          1         0
6        0          1         0
7        0          1         0
8        0          1         0
9        0          1         0
10       0          1         0
11       0          1         0
12       0          1         0
13       0          1         0
14       0          1         0
15       0          1         0
16       0          1         0
17       0          1         0
18       0          1         0
19       0          1         0
20       1          0         0
21       1          0         0
22       1          0         0
23       1          0         0
24       1          0         0
25       1          0         0
26       1          0         0
27       1          0         0
28       1          0         0
29       1          0         0
30       1          0         0
31       1          0         0
32       1          0         0
33       1          0         0
34       1          0         0
35       1          0         0
36       1          0         0
37       1          0         0
38       1          0         0
39       0          0         1
40       0          0         1
41       0          0         1
42       0          0         1
43       0          0         1
44       0          0         1
45       0          0         1
46       0          0         1
47       0          0         1
48       0          0         1
49       0          0         1
50       0          0         1
51       0          0         1
52       0          0         1
53       0          0         1
54       0          0         1

In [6]:
merged = pd.concat([df,dummies],axis='columns')
merged

     location  bedrooms  age  floor  area  price  banani  dhanmondi  zigatola
0   dhanmondi       1.0   10      2  1200  12000       0          1         0
1   dhanmondi       2.0   15      4  1400  11000       0          1         0
2   dhanmondi       2.0   21      8  1550  10000       0          1         0
3   dhanmondi       3.0   28      2  1680  13000       0          1         0
4   dhanmondi       3.0   15      6  1800  18000       0          1         0
5   dhanmondi       3.0   35      1  1950  25000       0          1         0
6   dhanmondi       4.0   32      5  2100  26000       0          1         0
7   dhanmondi       4.0   12      4  2300  28000       0          1         0
8   dhanmondi       4.0    8      8  2480  24000       0          1         0
9   dhanmondi       4.0   19      3  2550  30000       0          1         0
10  dhanmondi       4.0   30      4  2680  32000       0          1         0
11  dhanmondi       4.0   32      2  2900  36000       0          1         0
12  dhanmondi       4.0   12      1  3100  37000       0          1         0
13  dhanmondi       5.0   26      4  3300  42000       0          1         0
14  dhanmondi       5.0   15      6  3850  47000       0          1         0
15  dhanmondi       4.0   17      7  3900  43000       0          1         0
16  dhanmondi       5.0   13      9  4100  41000       0          1         0
17  dhanmondi       5.0    5     10  4200  49000       0          1         0
18  dhanmondi       4.0    7      3  4800  55000       0          1         0
19  dhanmondi       5.0    3      2  4900  65000       0          1         0
20     banani       1.0    5      4  1250  18000       1          0         0
21     banani       2.0    7      1  1500  25000       1          0         0
22     banani       2.0   12      5  1700  27000       1          0         0
23     banani       3.0   14      3  1900  31000       1          0         0
24     banani       3.0   18      6  2000  30000       1          0         0
25     banani       4.0   10      7  2200  29000       1          0         0
26     banani       4.0    5      9  2400  35000       1          0         0
27     banani       4.0    9      1  2800  42000       1          0         0
28     banani       4.0   19      2  2900  35000       1          0         0
29     banani       4.0    5      4  3200  45000       1          0         0
30     banani       5.0    8      5  3400  47000       1          0         0
31     banani       5.0   27      8  3600  39000       1          0         0
32     banani       4.0   32      1  3800  40000       1          0         0
33     banani       5.0    1      4  4000  66000       1          0         0
34     banani       4.0   15      6  4200  50000       1          0         0
35     banani       4.0    5      9  4400  45000       1          0         0
36     banani       5.0   14     10  4600  51000       1          0         0
37     banani       4.0   19     11  4800  49000       1          0         0
38     banani       5.0   15      1  5000  70000       1          0         0
39   zigatola       1.0   10      2  1300  10000       0          0         1
40   zigatola       1.0    2      1  1400  16000       0          0         1
41   zigatola       4.0    7      5  1600  14000       0          0         1
42   zigatola       2.0   25      3  1800  18000       0          0         1
43   zigatola       3.0   30      2  2000  22000       0          0         1
44   zigatola       4.0   35      8  2200  19000       0          0         1
45   zigatola       3.0   12      7  2380  28000       0          0         1
46   zigatola       3.0   19      6  2500  30000       0          0         1
47   zigatola       4.0   20      4  2850  35000       0          0         1
48   zigatola       4.0   17      3  3200  38000       0          0         1
49   zigatola       4.0   32      1  3400  40000       0          0         1
50   zigatola       4.0   15      3  3600  39000       0          0         1
51   zigatola       5.0    1      5  3750  49000       0          0         1
52   zigatola       4.0    6      1  3900  59000       0          0         1
53   zigatola       5.0    7      3  4000  61000       0          0         1
54   zigatola       5.0    9      2  4100  65000       0          0         1

In [7]:
final = merged.drop(['location'], axis='columns')
final

    bedrooms  age  floor  area  price  banani  dhanmondi  zigatola
0        1.0   10      2  1200  12000       0          1         0
1        2.0   15      4  1400  11000       0          1         0
2        2.0   21      8  1550  10000       0          1         0
3        3.0   28      2  1680  13000       0          1         0
4        3.0   15      6  1800  18000       0          1         0
5        3.0   35      1  1950  25000       0          1         0
6        4.0   32      5  2100  26000       0          1         0
7        4.0   12      4  2300  28000       0          1         0
8        4.0    8      8  2480  24000       0          1         0
9        4.0   19      3  2550  30000       0          1         0
10       4.0   30      4  2680  32000       0          1         0
11       4.0   32      2  2900  36000       0          1         0
12       4.0   12      1  3100  37000       0          1         0
13       5.0   26      4  3300  42000       0          1         0
14       5.0   15      6  3850  47000       0          1         0
15       4.0   17      7  3900  43000       0          1         0
16       5.0   13      9  4100  41000       0          1         0
17       5.0    5     10  4200  49000       0          1         0
18       4.0    7      3  4800  55000       0          1         0
19       5.0    3      2  4900  65000       0          1         0
20       1.0    5      4  1250  18000       1          0         0
21       2.0    7      1  1500  25000       1          0         0
22       2.0   12      5  1700  27000       1          0         0
23       3.0   14      3  1900  31000       1          0         0
24       3.0   18      6  2000  30000       1          0         0
25       4.0   10      7  2200  29000       1          0         0
26       4.0    5      9  2400  35000       1          0         0
27       4.0    9      1  2800  42000       1          0         0
28       4.0   19      2  2900  35000       1          0         0
29       4.0    5      4  3200  45000       1          0         0
30       5.0    8      5  3400  47000       1          0         0
31       5.0   27      8  3600  39000       1          0         0
32       4.0   32      1  3800  40000       1          0         0
33       5.0    1      4  4000  66000       1          0         0
34       4.0   15      6  4200  50000       1          0         0
35       4.0    5      9  4400  45000       1          0         0
36       5.0   14     10  4600  51000       1          0         0
37       4.0   19     11  4800  49000       1          0         0
38       5.0   15      1  5000  70000       1          0         0
39       1.0   10      2  1300  10000       0          0         1
40       1.0    2      1  1400  16000       0          0         1
41       4.0    7      5  1600  14000       0          0         1
42       2.0   25      3  1800  18000       0          0         1
43       3.0   30      2  2000  22000       0          0         1
44       4.0   35      8  2200  19000       0          0         1
45       3.0   12      7  2380  28000       0          0         1
46       3.0   19      6  2500  30000       0          0         1
47       4.0   20      4  2850  35000       0          0         1
48       4.0   17      3  3200  38000       0          0         1
49       4.0   32      1  3400  40000       0          0         1
50       4.0   15      3  3600  39000       0          0         1
51       5.0    1      5  3750  49000       0          0         1
52       4.0    6      1  3900  59000       0          0         1
53       5.0    7      3  4000  61000       0          0         1
54       5.0    9      2  4100  65000       0          0         1

In [8]:
final = final.drop(['zigatola'], axis='columns')
final

    bedrooms  age  floor  area  price  banani  dhanmondi
0        1.0   10      2  1200  12000       0          1
1        2.0   15      4  1400  11000       0          1
2        2.0   21      8  1550  10000       0          1
3        3.0   28      2  1680  13000       0          1
4        3.0   15      6  1800  18000       0          1
5        3.0   35      1  1950  25000       0          1
6        4.0   32      5  2100  26000       0          1
7        4.0   12      4  2300  28000       0          1
8        4.0    8      8  2480  24000       0          1
9        4.0   19      3  2550  30000       0          1
10       4.0   30      4  2680  32000       0          1
11       4.0   32      2  2900  36000       0          1
12       4.0   12      1  3100  37000       0          1
13       5.0   26      4  3300  42000       0          1
14       5.0   15      6  3850  47000       0          1
15       4.0   17      7  3900  43000       0          1
16       5.0   13      9  4100  41000       0          1
17       5.0    5     10  4200  49000       0          1
18       4.0    7      3  4800  55000       0          1
19       5.0    3      2  4900  65000       0          1
20       1.0    5      4  1250  18000       1          0
21       2.0    7      1  1500  25000       1          0
22       2.0   12      5  1700  27000       1          0
23       3.0   14      3  1900  31000       1          0
24       3.0   18      6  2000  30000       1          0
25       4.0   10      7  2200  29000       1          0
26       4.0    5      9  2400  35000       1          0
27       4.0    9      1  2800  42000       1          0
28       4.0   19      2  2900  35000       1          0
29       4.0    5      4  3200  45000       1          0
30       5.0    8      5  3400  47000       1          0
31       5.0   27      8  3600  39000       1          0
32       4.0   32      1  3800  40000       1          0
33       5.0    1      4  4000  66000       1          0
34       4.0   15      6  4200  50000       1          0
35       4.0    5      9  4400  45000       1          0
36       5.0   14     10  4600  51000       1          0
37       4.0   19     11  4800  49000       1          0
38       5.0   15      1  5000  70000       1          0
39       1.0   10      2  1300  10000       0          0
40       1.0    2      1  1400  16000       0          0
41       4.0    7      5  1600  14000       0          0
42       2.0   25      3  1800  18000       0          0
43       3.0   30      2  2000  22000       0          0
44       4.0   35      8  2200  19000       0          0
45       3.0   12      7  2380  28000       0          0
46       3.0   19      6  2500  30000       0          0
47       4.0   20      4  2850  35000       0          0
48       4.0   17      3  3200  38000       0          0
49       4.0   32      1  3400  40000       0          0
50       4.0   15      3  3600  39000       0          0
51       5.0    1      5  3750  49000       0          0
52       4.0    6      1  3900  59000       0          0
53       5.0    7      3  4000  61000       0          0
54       5.0    9      2  4100  65000       0          0

In [9]:
x = final.drop('price', axis='columns')
x

    bedrooms  age  floor  area  banani  dhanmondi
0        1.0   10      2  1200       0          1
1        2.0   15      4  1400       0          1
2        2.0   21      8  1550       0          1
3        3.0   28      2  1680       0          1
4        3.0   15      6  1800       0          1
5        3.0   35      1  1950       0          1
6        4.0   32      5  2100       0          1
7        4.0   12      4  2300       0          1
8        4.0    8      8  2480       0          1
9        4.0   19      3  2550       0          1
10       4.0   30      4  2680       0          1
11       4.0   32      2  2900       0          1
12       4.0   12      1  3100       0          1
13       5.0   26      4  3300       0          1
14       5.0   15      6  3850       0          1
15       4.0   17      7  3900       0          1
16       5.0   13      9  4100       0          1
17       5.0    5     10  4200       0          1
18       4.0    7      3  4800       0          1
19       5.0    3      2  4900       0          1
20       1.0    5      4  1250       1          0
21       2.0    7      1  1500       1          0
22       2.0   12      5  1700       1          0
23       3.0   14      3  1900       1          0
24       3.0   18      6  2000       1          0
25       4.0   10      7  2200       1          0
26       4.0    5      9  2400       1          0
27       4.0    9      1  2800       1          0
28       4.0   19      2  2900       1          0
29       4.0    5      4  3200       1          0
30       5.0    8      5  3400       1          0
31       5.0   27      8  3600       1          0
32       4.0   32      1  3800       1          0
33       5.0    1      4  4000       1          0
34       4.0   15      6  4200       1          0
35       4.0    5      9  4400       1          0
36       5.0   14     10  4600       1          0
37       4.0   19     11  4800       1          0
38       5.0   15      1  5000       1          0
39       1.0   10      2  1300       0          0
40       1.0    2      1  1400       0          0
41       4.0    7      5  1600       0          0
42       2.0   25      3  1800       0          0
43       3.0   30      2  2000       0          0
44       4.0   35      8  2200       0          0
45       3.0   12      7  2380       0          0
46       3.0   19      6  2500       0          0
47       4.0   20      4  2850       0          0
48       4.0   17      3  3200       0          0
49       4.0   32      1  3400       0          0
50       4.0   15      3  3600       0          0
51       5.0    1      5  3750       0          0
52       4.0    6      1  3900       0          0
53       5.0    7      3  4000       0          0
54       5.0    9      2  4100       0          0

In [10]:
y = final.price
y

0     12000
1     11000
2     10000
3     13000
4     18000
5     25000
6     26000
7     28000
8     24000
9     30000
10    32000
11    36000
12    37000
13    42000
14    47000
15    43000
16    41000
17    49000
18    55000
19    65000
20    18000
21    25000
22    27000
23    31000
24    30000
25    29000
26    35000
27    42000
28    35000
29    45000
30    47000
31    39000
32    40000
33    66000
34    50000
35    45000
36    51000
37    49000
38    70000
39    10000
40    16000
41    14000
42    18000
43    22000
44    19000
45    28000
46    30000
47    35000
48    38000
49    40000
50    39000
51    49000
52    59000
53    61000
54    65000
Name: price, dtype: int64

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [12]:
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
model.predict(x)

array([11590.03419793, 13143.08967791,  8104.98893656, 18321.67793554,
       18074.99723179, 20433.63694142, 21145.11271278, 29787.11276622,
       27737.29768914, 31695.31942164, 28829.62457553, 33012.69354622,
       41654.69359966, 39554.19538325, 45629.98333004, 41028.48541881,
       44995.93232352, 46921.65751502, 57836.64741481, 64502.8193822 ,
       15601.08723543, 24664.13209147, 20403.67794013, 27718.17964834,
       23946.39173022, 30226.06376202, 31126.59129259, 44041.87361971,
       41138.81596177, 45472.49666936, 48801.24584873, 42024.23397503,
       48059.37972402, 58030.83863123, 50499.1325105 , 51501.8263387 ,
       53220.98123491, 49342.82881057, 68180.22297527, 14157.6646201 ,
       18561.71435493, 24306.81546757, 17323.51049008, 22594.05278506,
       19190.45917837, 25098.31893493, 25682.13531236, 34793.04536289,
       40402.6709092 , 40894.53324927, 45014.24934614, 51154.97251327,
       52963.25057111, 54570.60715422, 56291.99975047])

In [14]:
model.score(x,y)

0.9321867223303033

In [15]:
model.predict([[4,32,5,2100,0,1]])

array([21145.11271278])

In [16]:
model.predict([[4,32,5,2100,1,0]])

array([25783.78084817])

In [17]:
model.predict([[1,10,2,1200,0,1]])

array([11590.03419793])

In [18]:
model.predict([[5,9,2,4100,0,0]])

array([56291.99975047])

In [19]:
model.predict([[5,9,2,4100,0,1]])

array([54743.13108061])

In [20]:
model.predict([[5,9,2,4100,1,0]])

array([59381.799216])

In [21]:
model.predict([[5,10,2,4100,0,0]])

array([56023.73403662])

In [22]:
model.score(x,y)

0.9321867223303033