In [2]:
d=int(input('How many Vertex the dataset have\n'))
c=int(input('How many Centroid do you have\n'))

dataset=[]
for i in range(0,d):
    print(f"Enter your dataset Vertex {i+1}st data\t\t")
    x=input('X=')
    y=input('Y=')
    x_y=[x,y]
    dataset.append(x_y)

Centroid=[]
for i in range(0,c):
    print(f"Enter your cluster {i+1}st data\t\t")
    x=input('X=')
    y=input('Y=')
    x_y=[x,y]
    Centroid.append(x_y)

import math
fi=[]
for l in range(0,c):
    li=[]
    for k in range(0,d):
        res=math.sqrt(((float(dataset[k][0])-float(Centroid[l][0]))**2)+((float(dataset[k][1])-float(Centroid[l][1]))**2))
        li.append(res)
    fi.append(li)

import pandas as pd
df=pd.DataFrame(fi)
df

How many Vertex the dataset have
9
How many Centroid do you have
3
Enter your dataset Vertex 1st data
X=1
Y=10
Enter your dataset Vertex 2st data
X=7
Y=5
Enter your dataset Vertex 3st data
X=1
Y=4
Enter your dataset Vertex 4st data
X=1
Y=8
Enter your dataset Vertex 5st data
X=5
Y=5
Enter your dataset Vertex 6st data
X=9
Y=4
Enter your dataset Vertex 7st data
X=0
Y=2
Enter your dataset Vertex 8st data
X=5
Y=9
Enter your dataset Vertex 9st data
X=3
Y=6
Enter your cluster 1st data
X=1
Y=10
Enter your cluster 2st data
X=1
Y=8
Enter your cluster 3st data
X=0
Y=2

,0,1,2,3,4,5,6,7,8
0,0.000000,7.810250,6.000000,2.000000,6.403124,10.000000,8.062258,4.123106,4.472136
1,2.000000,6.708204,4.000000,0.000000,5.000000,8.944272,6.082763,4.123106,2.828427
2,8.062258,7.615773,2.236068,6.082763,5.830952,9.219544,0.000000,8.602325,5.000000