In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("final_format.csv")
df

    area  bedrooms  age  floor  service  price
0   1200       1.0   10      2     1500  12000
1   1400       2.0   15      4     1600  11000
2   1550       2.0   21      8     1600  10000
3   1680       3.0   28      2     1700  13000
4   1800       3.0   15      6     2100  18000
5   1950       3.0   35      1     2300  25000
6   2100       4.0   32      5     3500  26000
7   2300       4.0   12      4     3600  28000
8   2480       NaN    8      8     3700  24000
9   2550       4.0   19      3     4000  30000
10  2680       NaN   30      4     4100  32000
11  2900       4.0   32      2     4300  36000
12  3100       NaN   12      1     5000  37000
13  3300       5.0   26      4     5000  42000
14  3850       5.0   15      6     5500  47000
15  3900       NaN   17      7     5600  43000
16  4100       5.0   13      9     5700  41000
17  4200       5.0    5     10     5900  49000
18  4800       NaN    7      3     6000  55000
19  4900       5.0    3      2     6100  65000
20  1250       1.0    5      4     1200  18000
21  1500       2.0    7      1     1500  25000
22  1700       2.0   12      5     1700  27000
23  1900       3.0   14      3     1800  31000
24  2000       3.0   18      6     2000  30000
25  2200       4.0   10      7     2100  29000
26  2400       4.0    5      9     2400  35000
27  2800       4.0    9      1     3200  42000
28  2900       NaN   19      2     3500  35000
29  3200       NaN    5      4     3600  45000
30  3400       5.0    8      5     3700  47000
31  3600       5.0   27      8     4000  39000
32  3800       NaN   32      1     4500  40000
33  4000       5.0    1      4     5000  66000
34  4200       NaN   15      6     5500  50000
35  4400       NaN    5      9     5800  45000
36  4600       5.0   14     10     6000  51000
37  4800       NaN   19     11     6100  49000
38  5000       5.0   15      1     6500  70000
39  1300       1.0   10      2     1800  10000
40  1400       1.0    2      1     2000  16000
41  1600       NaN    7      5     2100  14000
42  1800       2.0   25      3     2400  18000
43  2000       3.0   30      2     2800  22000
44  2200       NaN   35      8     3200  19000
45  2380       3.0   12      7     3300  28000
46  2500       3.0   19      6     3400  30000
47  2850       NaN   20      4     3500  35000
48  3200       4.0   17      3     3400  38000
49  3400       4.0   32      1     3600  40000
50  3600       NaN   15      3     4000  39000
51  3750       5.0    1      5     4500  49000
52  3900       NaN    6      1     5000  59000
53  4000       5.0    7      3     5100  61000
54  4100       5.0    9      2     5900  65000

In [4]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [5]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

    area  bedrooms  age  floor  service  price
0   1200       1.0   10      2     1500  12000
1   1400       2.0   15      4     1600  11000
2   1550       2.0   21      8     1600  10000
3   1680       3.0   28      2     1700  13000
4   1800       3.0   15      6     2100  18000
5   1950       3.0   35      1     2300  25000
6   2100       4.0   32      5     3500  26000
7   2300       4.0   12      4     3600  28000
8   2480       4.0    8      8     3700  24000
9   2550       4.0   19      3     4000  30000
10  2680       4.0   30      4     4100  32000
11  2900       4.0   32      2     4300  36000
12  3100       4.0   12      1     5000  37000
13  3300       5.0   26      4     5000  42000
14  3850       5.0   15      6     5500  47000
15  3900       4.0   17      7     5600  43000
16  4100       5.0   13      9     5700  41000
17  4200       5.0    5     10     5900  49000
18  4800       4.0    7      3     6000  55000
19  4900       5.0    3      2     6100  65000
20  1250       1.0    5      4     1200  18000
21  1500       2.0    7      1     1500  25000
22  1700       2.0   12      5     1700  27000
23  1900       3.0   14      3     1800  31000
24  2000       3.0   18      6     2000  30000
25  2200       4.0   10      7     2100  29000
26  2400       4.0    5      9     2400  35000
27  2800       4.0    9      1     3200  42000
28  2900       4.0   19      2     3500  35000
29  3200       4.0    5      4     3600  45000
30  3400       5.0    8      5     3700  47000
31  3600       5.0   27      8     4000  39000
32  3800       4.0   32      1     4500  40000
33  4000       5.0    1      4     5000  66000
34  4200       4.0   15      6     5500  50000
35  4400       4.0    5      9     5800  45000
36  4600       5.0   14     10     6000  51000
37  4800       4.0   19     11     6100  49000
38  5000       5.0   15      1     6500  70000
39  1300       1.0   10      2     1800  10000
40  1400       1.0    2      1     2000  16000
41  1600       4.0    7      5     2100  14000
42  1800       2.0   25      3     2400  18000
43  2000       3.0   30      2     2800  22000
44  2200       4.0   35      8     3200  19000
45  2380       3.0   12      7     3300  28000
46  2500       3.0   19      6     3400  30000
47  2850       4.0   20      4     3500  35000
48  3200       4.0   17      3     3400  38000
49  3400       4.0   32      1     3600  40000
50  3600       4.0   15      3     4000  39000
51  3750       5.0    1      5     4500  49000
52  3900       4.0    6      1     5000  59000
53  4000       5.0    7      3     5100  61000
54  4100       5.0    9      2     5900  65000

In [6]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age','floor','service']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
reg.coef_

array([ 1.25576648e+01,  3.16178216e+03, -2.96032776e+02, -1.15647168e+03,
       -1.54788587e+00])

In [8]:
reg.intercept_

2797.9275295464176

In [9]:
reg.predict([[2500, 4, 5,8,3000]])

array([31463.62331196])